@model IEnumerable<ChallengeBackEnd.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Página Inicial</h2>

<p>
    <a asp-action="Create">Criar novo post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PostID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PostID">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
